<header class="logo">
  <a>Edlingo Chinese<sup class="text-danger fw-semi-bold">Premium</sup></a>
</header>

<ul class="sidebar-nav">
  <li>
    <a ui-sref="app.board" ui-sref-active="active"><i class="glyphicon glyphicon-tree-conifer mr-xs"></i> Dashboard</a>
  </li>

  <li>
    <a data-target="#sidebar-modules" data-toggle="collapse" data-parent="#sidebar">
      <i class="glyphicon glyphicon-list-alt mr-xs"></i>
      Demos
      <b class="caret"></b>
    </a>
    <ul id="sidebar-modules" class="collapse in">
      <li><a>Vocabulary Cards</a></li>
      <li><a>Conversation</a></li>
    </ul>
  </li>

  <li>
    <a>
      <i class="glyphicon glyphicon-user mr-xs"></i>
      Profile
    </a>
  </li>
</ul>

<footer class="sidebar-footer">
  <p class="small text-gray-lighter opacity-60 ml-xs mr-xs mb-xs">58% ready</p>
  <div class="progress progress-xs mb-sm">
    <div class="progress-bar progress-bar-success" style="width: 58%"></div>
  </div>
</footer>