#learning-content{
    padding: 10px;
    background-color: rgb(224,240,248);
    margin: 10px auto;
    width: 465px;
    border-radius: 5px;
    position: relative;
    .background{
        background-color: white;
        padding: 5px;
        font-size: 18px;
        position: relative;
        .btn-right{
            position: relative;
            left: 325px;
            padding: 8px;
        }
    }
    footer{
        padding: 2px 5px;
        color: darkgrey;
        font-size: 18px;
        .center{
            position: absolute;
            left: 210px;
        }
    }
}