<div id="learning-content">
    <div class="container">
      <div class="content">
        <ui-view></ui-view>
      </div>
      <button class="btn btn-lg btn-primary btn-continue" ng-click="goNext()">Continue</button>
    </div>  
  <footer>
      <div class="row">
          <div class="col-xs-5">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-download" aria-hidden="true"></span>  
          </div>
          <div class="col-xs-3">
              <span class="glyphicon glyphicon-triangle-left" aria-hidden="true" ng-click="goPrev()"></span>
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" ng-click="goNext()"></span>
          </div>
          <div class="col-xs-offset-2 col-xs-2">Hint</div>
      </div>
  </footer>
</div>